<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BlairsBurgerWebsite</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css\style.css">
    </head>
    <body>
        <h1>Blairs burger</h1>
        <main>
            <section id="burgersinfo">
            <h2>Please select your burger</h2>
            <table>
                <thead>
                    <tr>
                        <th>Basic burger</th>
                        <th>Halloumi burger</th>
                        <th>Chicken burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="burger.jpeg" alt="basic_burger" width = "300"></td>
                        <td><img src="halloumi.jpeg" alt="halloumi_burger" width="300"></td>
                        <td><img src="chicken2.jpeg" alt="chicken_burger" width="300"></td>
                    </tr>
                    <tr>
                        <td><ul>
                                <li>Not suitable for <span class="preferences">vegetarians</span></li>
                                <li>Contains <span class="allergies">lactose</span></li>
                                <li>Contains <span class="allergies">sesame seeds</span></li>
                            </ul></td>
                        <td><ul>
                            <li>Not suitable for <span class="preferences">vegans</li>
                            <li>Contains <span class="allergies">tomato</span></li>
                            <li>Contains <span class="allergies">gluten</span></li>
                        </ul>
                        <td><ul>
                            <li>Not suitable for <span class="preferences">pregnant women</li>
                            <li>Contains <span class="allergies">salt</span></li>
                            <li>Contains <span class="allergies">pepper</span></li>
                        </ul></td>
                        </td>
                    </tr>
                </tbody>
            </table>
            </section>
            <h3>Customer information</h3>

            <h5>Please enter your personal information below</h5>
            <section id ="contact">
                <form>
                    <p>
                        <label for= "firstname">Full name</label><br>
                        <input type="text" id="first name and last name" name="fn" required="required" placeholder="First and last name">
                    </p>
                    <p>
                        <label for="email">E-mail adress</label><br>
                        <input type="text" id="email" name="email" placeholder="E-mail address"
                    </p>
                    <p>
                        <label for="Street">Street</label><br>
                        <input type="text" id="street" name="street" placeholder="Street name"
                    </p>
                    <p>
                        <label for="house number">House number</label><br>
                        <input type="number" id="house nummer" name="house number" placeholder="House number"
                    </p>
                    <p>
                        <label for="payment">Payment</label><br>
                        <select id="recipient" name="rcp">
                            <option>Debit card</option>
                            <option>Swish</option>
                            <option>Klarna</option>
                        </select>
                    </p>
                </form>
            <h5>Please select yout gender:</h5>
            </section>
            <section id="Gender">
                <form>
                    <p>
                       <input type="radio" id="female" name="gender" value="female" checked="checked">
                       <label for="female">Female</label><br>
                    </p>
                    <p>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                    </p>
                    <p>
                        <input type="radio" id="other" name="gender" value="other">
                        <label for="other">Other</label><br>
                    </p>
                    <input type="submit" value="Send">
                </form>
            </section>
            <br/>
            </section>
            <button type="submit order"><img src="cart.jpeg" width = "40"> Place order!</button>
        </main>
    </body>
</html>