<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerWebsite</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Välkommen till BurgerOnline</h1>
        <main>
            <h2>Select burger</h2>
            <table>
                <thead>
                    <tr>
                        <th>En basic burger</th>
                        <th>En halloumi burger</th>
                        <th>Chicken burger</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="burger.jpeg" alt="basic_burger" width = "200"></td>
                        <td><img src="halloumi.jpeg" alt="halloumi_burger" width="200"></td>
                        <td><img src="chicken2.jpeg" alt="chicken_burger" width="200"></td>
                    </tr>
                    <tr>
                        <td><ul>
                                <li>Ost - lämpar sig inte för laktosintoleranter</li>
                                <li>Biff - lämpar sig inte för vegetarianer</li>
                                <li>Bröd med sesam - sesamallergiker?</li>
                            </ul></td>
                        <td><ul>
                            <li>Hallomi</li>
                            <li>Tomat</li>
                            <li>Sallad</li>
                        </ul>
                        <td><ul>
                            <li>Kyckling</li>
                            <li>Bröd</li>
                            <li>Sallad</li>
                        </ul></td>
                        </td>
                    </tr>

                </tbody>
                 </table>



            <h3>Customer information</h3>
            <h5>En basic burger med biff och ost</h5>
        </main>
    </body>
</html>